{% extends 'base.html' %}
{% block title %} Modifier-tenue {% endblock %}
{% load crispy_forms_tags %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}
{% block content %}{% endblock content %}

{% block main%}




   <div class="container mt-3 w-80">
      
      <form method="POST" style="font-size: 14px; background-color: #E6E6FA" class="card p-3 mt-5" autocomplete="off" enctype="multipart/form-data"> 
            {% csrf_token %}

            {% comment %} {% bootstrap_form form %} {% endcomment %}

         <div class="row">
            <div class="col-6">{{form.libelle|as_crispy_field}}</div>
            <div class="col-6">{{form.price|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-6">{{form.model|as_crispy_field}}</div>
            <div class="col-6">{{form.image|as_crispy_field}}</div>
         </div>

         <div class="mt-4" style="width: 100p%;">
            <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
            <i class="fas fa-plus"></i>&nbsp;&nbsp; Ajouter
            </button>
            <a style= "font-size: 15px;" href="{% url 'tenue' %}" type="button" class="btn btn-outline-danger mb-3 ms-2" style="wdith: 50px;" title="Close">
                  <i class="fas fa-times"></i>
            </a>
         </div> 
          
      </form>
   </div>

{% endblock main%}

{% block footer %}{% endblock footer %}