{% extends 'base.html' %}
{% block title %} Liste-personnel {% endblock %}

{% block content %}{% endblock content %}


{% block add %}
<a href="{% url 'add_personnel' %}" title="Ajouter un personnel">
  <i class="fa-solid fa-plus ms-5"></i>
<a/>
{% endblock add %}

{% block main %}
<div class="container w-75">
   
    <table id="example" class="table table-striped" style="width:100%">
        <thead class="table-success">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero Cnib</th>
                <th>Post</th>
                <th>specialite</th>
                <th style="width: 18%;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for couturier in couturiers %}
            <tr>
                <td>{{couturier.nom}}</td>
                <td>{{couturier.prenom}}</td>
                <td>{{couturier.num_cnib}}</td>
                <td>{{couturier.post}}</td>
                {% if couturier.specialite %}
                <td>{{couturier.specialite}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <a href="{% url 'edit_personnel' couturier.id %}" type="button" class="btn btn-warning" title="Edit Couturier">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{% url 'delete_personnel' couturier.id %}" type="button" class="btn btn-danger" title="Delete Couturier">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


                {% for message in messages %}
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                        {% if message.tags == 'error' %}
                            <script>
                                var m = "{{ message }}";
                                  swal("Denied !", "Enter your data correctly.", "error")
                            </script>
                                  {% elif message.tags == 'success' %}
                            <script>
                                  var m = "{{ message }}";
                                  swal("Perfect !", m, "success")
                            </script>
                        {% endif %}   
                {% endfor%}

{% endblock main %}


{% block footer %}{% endblock footer %}